{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    {{ form_row(form.label) }}
    {{ form_row(form.description) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
    {{ form_row(form.isVisible) }}
    {{ form_row(form.game) }}

    <button class="big-btn">{{ button_label|default('SAVE') }}</button>
{{ form_end(form) }}