{% extends 'base.html.twig' %}

{% block content %}
<div class="card full-size">
    <div class="content">
        <h2>All Events</h2>

        {% if is_granted('ROLE_ADMIN') %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Label</th>
                        <th>Description</th>
                        <th>StartDate</th>
                        <th>EndDate</th>
                        <th>IsVisible</th>
                        <th>Slug</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.id }}</td>
                            <td>{{ event.label }}</td>
                            <td>{{ event.description }}</td>
                            <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ event.endDate ? event.endDate|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ event.isVisible ? 'Yes' : 'No' }}</td>
                            <td>{{ event.slug }}</td>
                            <td>
                                <a href="{{ path('event_show', {'slug': event.slug}) }}">show</a>
                                <a href="{{ path('event_edit', {'slug': event.slug}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('event_new') }}">Create new</a>
        {% else %}
            {% set visibleEvents = events|filter(event => event.isVisible) %}
            {% for event in visibleEvents %}
                <ul>
                    <td>
                        <a href="{{ path('event_show', {'slug': event.slug}) }}">{{ event.label }}</a>
                    </td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ event.endDate ? event.endDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('event_show', {'slug': event.slug}) }}">show</a>
                    </td>
                </ul>
            {% else %}
                <p>No events found. Come back later!</p>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
