{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div id="register" class="card full-size">
        <div class="content">
            <h2>Sign Up</h2>
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {{ form_errors(registrationForm) }}
                {{ form_start(registrationForm) }}
                                {{ form_row(registrationForm.Firstname) }}
                                {{ form_row(registrationForm.Lastname) }}
                                {{ form_row(registrationForm.username) }}
                                {{ form_row(registrationForm.Email) }}
                                {{ form_row(registrationForm.plainPassword, {
                                    label: 'Password'
                                }) }}
                    <button id="register_button_submit" type="submit" class="btn">CREATE ACCOUNT</button>
                {{ form_end(registrationForm) }}                
        </div>
    </section>
</div>
{% endblock %}
