{% extends 'base.html.twig' %}

{% block content %}
    <div id="register" class="card full-size">
        <div class="content">
            <h2 class="signup-title">Sign Up</h2>
            {{ form_start(registrationForm) }}
                <div>
                    {% if form_errors(registrationForm.firstname) %}
                        {{ form_label(registrationForm.firstname, null, { 'label_attr': { 'class': 'label-error'}}) }}
                        {{ form_widget(registrationForm.firstname, { 'attr': { 'class': 'input-error'}}) }}
                    {% else %}
                        {{ form_label(registrationForm.firstname) }}
                        {{ form_widget(registrationForm.firstname) }}
                    {% endif %}
                </div>
                <div>
                    {% if form_errors(registrationForm.lastname) %}
                        {{ form_label(registrationForm.lastname, null, { 'label_attr': { 'class': 'label-error'}}) }}
                        {{ form_widget(registrationForm.lastname, { 'attr': { 'class': 'input-error'}}) }}
                    {% else %}
                        {{ form_label(registrationForm.lastname) }}
                        {{ form_widget(registrationForm.lastname) }}
                    {% endif %}
                </div>
                <div>
                    {% if form_errors(registrationForm.username) %}
                        {{ form_label(registrationForm.username, null, { 'label_attr': { 'class': 'label-error'}}) }}
                        {{ form_widget(registrationForm.username, { 'attr': { 'class': 'input-error'}}) }}
                    {% else %}
                        {{ form_label(registrationForm.username) }}
                        {{ form_widget(registrationForm.username) }}
                    {% endif %}
                </div>
                <div>
                    {% if form_errors(registrationForm.email) %}
                        {{ form_label(registrationForm.email, null, { 'label_attr': { 'class': 'label-error'}}) }}
                        {{ form_widget(registrationForm.email, { 'attr': { 'class': 'input-error'}}) }}
                    {% else %}
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email) }}
                    {% endif %}
                </div>
                <div>
                    {% if form_errors(registrationForm.plainPassword) %}
                        {{ form_label(registrationForm.plainPassword, 'Password', { 'label_attr': { 'class': 'label-error'}}) }}
                        {{ form_widget(registrationForm.plainPassword, { 'attr': { 'class': 'input-error'}}) }}
                    {% else %}
                        {{ form_label(registrationForm.plainPassword) }}
                        {{ form_widget(registrationForm.plainPassword) }}
                    {% endif %}
                </div>
                <button id="register_button_submit" type="submit" class="btn-register">CREATE ACCOUNT</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
