<div class="form-add-game">
    {{ form_errors(registrationGameForm) }}
    {{ form_start(registrationGameForm) }}
    {{ form_row(registrationGameForm.title) }}
    {{ form_row(registrationGameForm.posterFile) }}
    {{ form_row(registrationGameForm.description, {'attr': {'class': 'description'}}) }}
    <div class="checked-flex">
        <p>Ce jeu est-il virtuel? {{ form_row(registrationGameForm.isVirtual, {'attr': {'class': 'checkbox'}}) }}</p>
    </div>
    <div class="checked-flex">
        <p>Voulez-vous rendre ce jeu visible?{{ form_row(registrationGameForm.isVisible, {'attr': {'class': 'checkbox'}}) }}</p>
    </div>
    <div class="btn-savegame-flex">
        <button type="submit" class="btn-savegame">Save Game</button>
    </div>        
</div>
{{ form_end(registrationGameForm) }}
