
    <div class="form-add-game">
        {{ form_errors(gameForm) }}
        {{ form_start(gameForm) }}
        {{ form_row(gameForm.title) }}
        {{ form_row(gameForm.posterFile, {'attr': {'class': 'custom-file-upload'}}) }}
        {{ form_row(gameForm.categories) }}
        {{ form_row(gameForm.description, {'attr': {'class': 'description'}}) }}
    </div>

    <div class="form-add-game-suite">
        
        <div class="checked-flex">
            <div id="toggle-form">
                <p>Is this game virtual? {{ form_row(gameForm.isVirtual, {'attr': {'class': 'switch'}}) }}</p>
            </div>
        </div>
        <div class="checked-flex">
            <div id="toggle-form">
                <p>Do you want to make this game visible?{{ form_row(gameForm.isVisible, {'attr': {'class': 'switch'}}) }}</p>
            </div>
        </div>
        
        <div class="btn-savegame-flex">
            <button type="submit" class="btn-savegame">Save Game</button>
        </div>
    </div>
    {{ form_end(gameForm) }}


