{{ form_start(gameForm) }}
    <div class="game-input">
        {% if form_errors(gameForm.title) %}
            {{ form_label(gameForm.title, null, { 'label_attr': { 'class': 'label-error'}}) }}
            {{ form_widget(gameForm.title, { 'attr': { 'class': 'input-error'}}) }}
        {% else %}
            {{ form_label(gameForm.title) }}
            {{ form_widget(gameForm.title) }}
        {% endif %}
    </div>
    <div class="game-input">
        {% if form_errors(gameForm.posterFile) %}
            {{ form_label(gameForm.posterFile, null, { 'label_attr': { 'class': 'label-error'}}) }}
            {{ form_widget(gameForm.posterFile, { 'attr': { 'class': 'input-error'}}) }}
        {% else %}
            {{ form_label(gameForm.posterFile) }}
            {{ form_widget(gameForm.posterFile) }}
        {% endif %}
    </div>
    <div class="game-input-category">
        <div>
            {% if form_errors(gameForm.mainCategory) %}
                {{ form_label(gameForm.mainCategory, null, { 'label_attr': { 'class': 'label-error'}}) }}
                {{ form_widget(gameForm.mainCategory, { 'attr': { 'class': 'input-error'}}) }}
            {% else %}
                {{ form_label(gameForm.mainCategory) }}
                {{ form_widget(gameForm.mainCategory) }}
            {% endif %}
        </div>
        <div>
            {% if form_errors(gameForm.optionalCategory) %}
                {{ form_label(gameForm.optionalCategory, null, { 'label_attr': { 'class': 'label-error'}}) }}
                {{ form_widget(gameForm.optionalCategory, { 'attr': { 'class': 'input-error'}}) }}
            {% else %}
                {{ form_label(gameForm.optionalCategory) }}
                {{ form_widget(gameForm.optionalCategory) }}
            {% endif %}
        </div>
    </div>
    <div class="game-input">
        {% if form_errors(gameForm.description) %}
            {{ form_label(gameForm.description, null, { 'label_attr': { 'class': 'label-error'}}) }}
            {{ form_widget(gameForm.description, { 'attr': { 'class': 'input-error'}}) }}
        {% else %}
            {{ form_label(gameForm.description) }}
            {{ form_widget(gameForm.description) }}
        {% endif %}
    </div>
    <div id="toggle-form">
            <p>Is this game virtual ?</p>
            {{ form_widget(gameForm.isVirtual, {'attr': {'class': 'switch'}}) }}
            <p>Do you want to make this game visible ?</p> 
            {{ form_widget(gameForm.isVisible, {'attr': {'class': 'switch'}}) }}
        <div>
            <button type="submit" id="add-edit-game">Save Game</button>
        </div>
    </div>
{{ form_end(gameForm) }}
