{% extends 'base.html.twig' %}

{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('carousel-big') }}
    {{ encore_entry_script_tags('searchbar') }}
    {{ encore_entry_script_tags('inputs') }}
    
    {% if is_granted('ROLE_ADMIN') %}
        {{ encore_entry_script_tags('toggleGame') }}
    {% endif %}
{% endblock javascript %}

{% block content %}

    {% include 'components/_searchbar.html.twig' %}

    {% if is_granted('ROLE_ADMIN') %}
        <div id="game-visibility-toggle">
            <input {{ params.isVisible is defined and params.isVisible == 1 ? 'checked="true"' : '' }} type="checkbox" class="switch {{ params.isVisible is defined and params.isVisible == 1 ? 'checked' : '' }}">
            <p>Active / Inactive</p>
        </div>

        <div class="card" id="add-game-btn">
            <div class="content">
                <a href="{{ path('game_new') }}">
                    <img src="{{ asset('build/images/icons/add-new-game.png') }}" alt="Add new game">
                    <h2>New Game</h2>
                </a>
            </div>
        </div>
    {% endif %}

    {% if games is not empty %}

        {% set nbSlides = (games|length / 6)|format_number({rounding_mode: 'ceiling', fraction_digit: 0}) %}

        <ul class="carousel carousel-big" id="carousel-games">
            {% for i in 0..nbSlides - 1 %}
                <li class="slide grid full-size">
                    {% for y in 0..5 %}
                        {% if (y + 6*i) < games|length %}
                            {% set game = games[y + 6*i] %}
                            <section class="card">
                                <div class="content">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="edit-btn" href="{{ path("game_edit", { slug: game.slug }) }}">
                                            <img src="{{ asset('build/images/icons/edit2.svg') }}">
                                        </a>
                                    {% endif %}

                                    <a href="{{ path('game_show', {slug: game.slug}) }}">
                                        <img class="poster" src="{{ game.poster }}" alt="">
                                        <h2>{{ game.title }}</h2>
                                    </a>

                                    <div class="game-infos">
                                        <div class="game-category-container">
                                            {% for category in game.categories %}
                                                <p class="game-category">
                                                    {{category.label}}
                                                </p>
                                            {% endfor %}
                                        </div>

                                            <div class="game-stats">
                                                <div class="game-highest-score">
                                                    {% if app.user and gamesStats[game.id]['userRanking'] is defined %}
                                                        {% if gamesStats[game.id]['userRanking'] == 1 %}
                                                            <img src="{{ asset('build/images/icons/trophy-solid-first.svg') }}" alt="Gold trophy">
                                                        {% elseif gamesStats[game.id]['userRanking'] == 2 %}
                                                            <img src="{{ asset('build/images/icons/trophy-solid-second.svg') }}" alt="Silver trophy">
                                                        {% elseif gamesStats[game.id]['userRanking'] == 3 %}
                                                            <img src="{{ asset('build/images/icons/trophy-solid-third.svg') }}" alt="Bronze trophy">
                                                        {% else %}
                                                            <img src="{{ asset('build/images/icons/trophy-solid.svg') }}" alt="Champion's cup">
                                                        {% endif %}
                                                    {% else %}
                                                        <img src="{{ asset('build/images/icons/trophy-solid.svg') }}" alt="Champion's cup">
                                                    {% endif %}
                                                    <p>
                                                        {% if app.user and gamesStats[game.id]['userRanking'] is defined %}
                                                            {{ gamesStats[game.id]['userRanking'] }}
                                                        {% else %}
                                                            —
                                                        {% endif %}
                                                    </p>
                                                </div>
                                                <div class="game-time-spent">
                                                    <img src="{{ asset('build/images/icons/clock-1.svg') }}" alt="Clock">
                                                    <p>
                                                        {% if app.user and gamesStats[game.id]['totalTimePlayed'] is defined %}
                                                            {{ gamesStats[game.id]['totalTimePlayed'] }}
                                                        {% else %}
                                                            —
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </section>
                        {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>

        <nav class="slider" id="slider-games">
            {% for i in 0..nbSlides - 1 %}
                {% if i == 0 %}
                    <div class="slider-btn current-slide"></div>
                {% else %}
                    <div class="slider-btn"></div>
                {% endif %}
            {% endfor %}
        </nav>
    {% else %}
        <ul class="flex full-size">
            <li>
                <section class="card small-card">
                    <div class="content">
                        <h2>No results...</h2>
                        <p>🔍 Try something else!</p>
                    </div>
                </section>
            </li>
        </ul>
    {% endif %}

{% endblock %}
