{% extends "base.html.twig" %}

{% block title %}{{parent()}} • Game scores{% endblock title %}

{% block content %}

    <div class="card full-size">
        <div class="content">
            {% if is_granted('ROLE_USER') %}
                <h2>{{ game.title }}</h2>
                <p>
                    {{ user.username }}
                </p>

                {{ dump(game) }}

                    {% for gamePlayed in game.gamesPlayed %}
                        <div class="flex">
                            {{ dump(gamePlayed.score) }}
                        </div>
                    {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock content %}