{% extends "base.html.twig" %}

{% block title %}{{parent()}} • Game scores{% endblock title %}

{% block content %}

    <div class="card full-size">
        <div class="content">
            {% if is_granted('ROLE_USER') %}
                <h2>{{ game.title }}</h2>

                <a href="{{ path('user_index') }}">{{ user.username }}</a>
                <br>
                <a href="{{ path('game_show', {slug: game.slug}) }}">Back to the game</a>

                <ul>
                    {% for gamePlayed in gamesPlayed %}
                        <li>
                            <ul style="display: flex; justify-content: space-between; max-width: 500px; margin: 0 auto">
                                <li>{{loop.index}}. <a href="">{{ gamePlayed.player.username }}</a></li>
                                <li>{{ gamePlayed.score }}</li>
                                {# <li>{{ gamePlayed.duration }}</li> #}
                                {# <li>{{ gamePlayed.date|date('Y m d') }}</li> #}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>

            {% endif %}
        </div>
    </div>

{% endblock content %}