{% extends 'base.html.twig' %}

{% block content %}

    <ul class="carousel" id="game-show-carousel">
        <li id="detailed-game-one" class="grid">
            <section class="card cell-resume">
                <div class="content">

                    <h2 class="neon">{{ game.title }}</h2>

                    {% if is_granted('ROLE_ADMIN') %}
                        <a id="game-edit" href="{{ path("game_edit", { slug: game.slug }) }}">
                            <img src="{{ asset('build/images/icons/edit-icon.png') }}">
                        </a>
                    {% endif %}

                    <div class="rating">
                        {% for i in 1..5 %}
                            {% if globalNote >= i %}
                                <img src="{{ asset('build/images/icons/star-solid.svg') }}">
                            {% elseif globalNote < i and globalNote > (i - 1) %}
                                <img src="{{ asset('build/images/icons/star-half-stroke-regular-1.svg') }}">
                            {% else %}
                                <img src="{{ asset('build/images/icons/star-regular-empty.svg') }}">
                            {% endif %}
                        {% endfor %}
                        {% if globalNote >= 0 %}
                            <p>{{ globalNote }}</p>
                        {% else %}
                            <p>Not rated</p>
                        {% endif %}
                    </div>

                    <div class="game-show-grid">
                        <div class="poster">
                            <img src="{{ vich_uploader_asset(game) }}" alt="Image aléatoire" poster> 
                        </div>

                        <div class="category">
                            <p>{{ game.mainCategory.label }}</p>
                            {% if game.optionalCategory is not null %}
                                <p>{{ game.optionalCategory.label }}</p>
                            {% endif %}
                            <div class="game-time">
                                <img src="{{ asset('build/images/icons/clock-1.svg') }}">
                                <p>
                                    {% if app.user and gameStats is not empty %}
                                        {{ gameStats['totalTimePlayed'] }}
                                    {% else %}
                                        —
                                    {% endif %}
                                </p>
                            </div>
                        </div>

                        <div class="resume">
                            <p>{{ game.description }}</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="card cell-pictures">
                <div class="content">
                    <h2>Pictures</h2>

                    {% set nbSlides = (game.pictures|length / 4)|format_number({rounding_mode: 'ceiling', fraction_digit: 0}) %}
                    
                    <ul id="carousel-pictures">
                        {% for i in 0..nbSlides - 1 %}
                            <li class="pictures">
                                {% for y in 0..3 %}
                                    {% if game.pictures[y + i*4] is defined %}
                                        <img src="{{ game.pictures[y + i*4].fileName }}" alt="Game Picture">
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>

                    <nav id="slider-pictures">
                        {% for i in 0..nbSlides - 1 %}
                            {% if i == 0 %}
                                <div class="slider-picture-btn current-slide-picture"></div>
                            {% else %}
                                <div class="slider-picture-btn"></div>
                            {% endif %}
                        {% endfor %}
                    </nav>
                </div>
            </section>

            <section class="card cell-scores">
                <div class="content">
                    <h2>Scores</h2>

                    <div class="container">
                        {% if app.user and gameStats is not empty %}
                            <div class="own-score">
                                <p>{{ gameStats['userRanking'] }}.</p>
                                <img src="{{ asset('build/images/icons/user2.svg') }}" alt="user-icon">
                                <p><a href="">{{ app.user.username }}</a></p>
                                <p>{{ gameStats['personalBestScore'] }}</p>
                            </div>
                        {% else %}
                            <p>Come and try this game!</p>
                        {% endif %}
                        <table class="first-scores">
                            <tbody>
                                {% for i in 0..4 %}
                                    <tr>
                                        {% if i == 0 %}
                                            <td class="score-trophy"><img src="{{ asset('build/images/icons/trophy-solid-first.svg') }}" alt="Gold trophy"></td>
                                        {% elseif i == 1 %}
                                            <td class="score-trophy"><img src="{{ asset('build/images/icons/trophy-solid-second.svg') }}" alt="Silver trophy"></td>
                                        {% elseif i == 2 %}
                                            <td class="score-trophy"><img src="{{ asset('build/images/icons/trophy-solid-third.svg') }}" alt="Bronze trophy"></td>
                                        {% else %}
                                            <td class="text score-ranking">{{ i + 1 }}.</td>
                                        {% endif %}
                                        {% if gamesPlayed[i] is defined %}
                                            <td class="text score-point">{{ gamesPlayed[i].score }}</td>
                                            <td class="text player"><a href="">{{ gamesPlayed[i].player.username }}</a></td>
                                        {% else %}
                                            <td colspan="2">No scores available</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <p class="link-scores"><a href="{{ path('game_scores', {slug: game.slug}) }}">All scores</a></p>
                    </div>
                </div>
            </section>
        </li>

        <li id="detailed-game-two" class="grid">
            <section class="card cell-achievements">
                <div class="content">
                    <h1 class="text">Achievements</h1>
                    <div id="achievements-game">

                    {% for i in 1..6 %}
                        <div class="cell-achievement-game">
                            <a href=""><img src="{{ asset('build/images/icons/medal-solid.svg') }}"></a>
                            <a href=""><h2>Expert Michel</h2></a>
                        </div>
                    {% endfor %}

                    </div>
                </div>
            </section>

            <section class="card cell-reviews">
                <div class="content">
                    <h1 class="text">Reviews</h1>
                    <div class="review-carousel">

                    {% for review in reviews %}

                        <div class="review">
                            <h2>{{ review.author.username }}</h2>
                            <div class="review-rating">
                                {% for i in 1..5 %}
                                    {% if review.note >= i %}
                                        <img src="{{ asset('build/images/icons/star-solid-mini.svg') }}">
                                    {% else %}
                                        <img src="{{ asset('build/images/icons/star-regular-empty-mini.svg') }}">
                                    {% endif %}
                                {% endfor %}
                                <p>{{ review.note }}</p>
                            </div>
                            <p class="review-title">{{ review.title }}</p>
                            <p class="review-text">{{ review.opinion }}</p>
                            <p class="review-date">{{ review.date|date('d/m/Y H:i') }}</p>
                        </div>

                    {% endfor %}

                    </div>
                </div>
            </section>
        </li>
    </ul>

    <nav class="slider">
        <div class="slider-btn current-slide"></div>
        <div class="slider-btn"></div>
    </nav>

    <div id="picture-modal" class="modal">
        <span class="close">&times;</span>
        <img id="img-modal" class="modal-content">
    </div>

{% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('pictureModal') }}
    {{ encore_entry_script_tags('carouselDetailedGame') }}
{% endblock %}
