<div id="review-add">
    {{ form_start(reviewForm) }}
        <div class="review-input">
            {% if form_errors(reviewForm.title) %}
                {{ form_label(reviewForm.title, null, { 'label_attr': { 'class': 'label-error'}}) }}
                {{ form_widget(reviewForm.title, { 'attr': { 'class': 'input-error'}}) }}
            {% else %}
                {{ form_label(reviewForm.title) }}
                {{ form_widget(reviewForm.title) }}
            {% endif %}
        </div>
        <div class="review-input">
            {% if form_errors(reviewForm.opinion) %}
                {{ form_label(reviewForm.opinion, null, { 'label_attr': { 'class': 'label-error'}}) }}
                {{ form_widget(reviewForm.opinion, { 'attr': { 'class': 'input-error'}}) }}
            {% else %}
                {{ form_label(reviewForm.opinion) }}
                {{ form_widget(reviewForm.opinion) }}
            {% endif %}
        </div>
        <div id="container-input-notation" class="review-input">
            {% if form_errors(reviewForm.note) %}
                {{ form_label(reviewForm.note, null, { 'label_attr': { 'class': 'label-error'}}) }}
                {{ form_widget(reviewForm.note, { 'attr': { 'class': 'input-error input-notation'}}) }}
            {% else %}
                {{ form_label(reviewForm.note) }}
                {{ form_widget(reviewForm.note, { 'attr': { 'class': 'input-notation'}}) }}
            {% endif %}
        </div>
        <div id="icone-notation">
            <img id="first-star" src="{{ asset('build/images/icons/star-regular-empty.svg') }}">
            <img id="first-star-solid" src="{{ asset('build/images/icons/star-solid.svg') }}">
            <img id="second-star" src="{{ asset('build/images/icons/star-regular-empty.svg') }}">
            <img id="second-star-solid" src="{{ asset('build/images/icons/star-solid.svg') }}">
            <img id="third-star" src="{{ asset('build/images/icons/star-regular-empty.svg') }}">
            <img id="third-star-solid" src="{{ asset('build/images/icons/star-solid.svg') }}">
            <img id="fourth-star" src="{{ asset('build/images/icons/star-regular-empty.svg') }}">
            <img id="fourth-star-solid" src="{{ asset('build/images/icons/star-solid.svg') }}">
            <img id="fifth-star" src="{{ asset('build/images/icons/star-regular-empty.svg') }}">
            <img id="fifth-star-solid" src="{{ asset('build/images/icons/star-solid.svg') }}">
        </div>
        <button type="submit" id="submit-review">Submit</button>
    {{ form_end(reviewForm) }}
</div>
