{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} • Your last game{% endblock %}

{% block content %}

<div class="card full-size">
    <div class="content">
        {{ dump(gamePlayed) }}
        <p>
            Date : {{gamePlayed.date|date('d-m-Y // H:i')}}<br>
            Duration : {% if (gamePlayed.duration/60)<10 %}0{% endif %}{{ (gamePlayed.duration/60)|format_number({rounding_mode: 'floor', fraction_digit: 0}) }}:{% if (gamePlayed.duration%60) < 10 %}0{% endif %}{{ (gamePlayed.duration%60) }}
        </p>
    </div>
</div>

{% endblock %}
