<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/images/icons/icon.png') }}"/>
        
        <title>
            {% block title %}
                NeoRetro{{ pageTitle is defined ? ' • ' ~ pageTitle : '' }}
            {% endblock %}
        </title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        {% block header %}
            {% include "components/_header.html.twig" %}
        {% endblock header %}

        <div id="main-container">
            {% block content %}
            {% endblock %}

            {% set flashStack = app.session.flashbag.all %}
            {% if flashStack is not empty %}
                <div id="flash-stack" class="card">
                    <div class="content">
                        {% for type, messages in flashStack %}
                            {% for message in messages %}
                                <p class="alert alert-{{ type }}">{{ message }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>

        {% block navbar %}
            {% include "components/_navbar.html.twig" %}
        {% endblock navbar %}

        {% block javascript %}
        {% endblock javascript %}
    </body>
</html>
