<header>
    <a href="/">
        <img id="main-logo" src="{{ asset('build/images/icons/icon.png') }}" alt="NeoRetro Logo">
    </a>

    {% if pageTitle is defined %}
        <a href="/">
            <h1 id="site-name" class="michroma">NeoRetro</h1>
        </a>
        <h2 id="page-title" class="michroma">{{pageTitle}}</h2>
    {% else %}
        <h1 id="page-title" class="michroma">NeoRetro</h1>
    {% endif %}

    <a id="user" href="{{ path('user_index') }}">
        <img class="inactive" src="{{ asset('build/images/icons/user.svg') }}" alt="User">
        {# <img class="active" src="{{ asset('build/images/icons/user-active.svg') }}" alt="User"> #}
    </a>
</header>