<form method="GET" action="" id="searchbar">

    <div id="search-primary">
        {# <img src="{{ asset('build/images/icons/search.svg') }}" alt="Search"> #}
        {# <input type="submit" class="btn search" value=""> #}
        <div class="btn search" type="submit"></div>
        <input id="search-field" type="text" name="title" placeholder="Search" value="{{title}}">
        {# <img src="{{ asset('build/images/icons/settings.svg') }}" alt="Settings" class="btn settings"> #}
        <div class="btn settings"></div>
    </div>

    <div id="search-modal" class="hidden">
        <div class="filter">
            <p>Category</p>
            <div class="card params hidden" id="category">
                <div class="content">
                    {% for category in categories %}
                        <div>
                            <input type="checkbox" name="category" id="{{category.label}}" value="{{category.label}}">
                            <label for="{{category.label}}">{{category.label}}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="sort title text">Title<img src="{{ asset('build/images/icons/sort-down.svg') }}" alt="Sort up/down"></div>
        <div class="sort score text">Score<img src="{{ asset('build/images/icons/sort-down.svg') }}" alt="Sort updown"></div>
        <div class="sort time text">Time<img src="{{ asset('build/images/icons/sort-down.svg') }}" alt="Sort up/down"></div>

        <input id="sort-by" type="hidden" name="sort-by" value="">
        <input id="sort-order" type="hidden" name="sort-order" value="">
    </div>

</form>
