
    <div class="form-add-game">
        {{ form_errors(prizeForm) }}
        {{ form_start(prizeForm) }}
        {{ form_row(prizeForm.label) }}
        {{ form_row(prizeForm.description, {'attr': {'class': 'description'}}) }}
        {{ form_row(prizeForm.posterFile, {'attr': {'class': 'custom-file-upload'}}) }}
        {{ form_row(prizeForm.value) }}
        {{ form_row(prizeForm.quantity) }}
    </div>
    <div class="form-add-game-suite">
        <div class="btn-savegame-flex">
            <button type="submit" class="btn-savegame">Save Prize</button>
        </div>        
    </div>
</div>
    {{ form_end(prizeForm) }}


