{% extends 'base.html.twig' %}

{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('carousel-big') }}
{% endblock javascript %}

{% block content %}

<nav class="mini-nav">
    {% if is_granted('ROLE_USER') %}
        <div class="card add-btn">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="content">
                    <a href="{{ path('prize_new') }}">
                        <img src="{{ asset('build/images/icons/add.svg') }}" alt="Add new game icon">
                        <p>NEW PRIZE</p>
                    </a>
                </div>
            {% else %}
                <div class="content balance">
                    <img src="{{ asset('build/images/icons/money-coin-token-icon.png') }}">
                    <p>Balance: {{app.user.token}}</p>
                </div>
            {% endif %}
        </div>
    {% endif %}
</nav>

{% if prizes is not empty %}

    {% set nbSlides = (prizes|length / 6)|format_number({rounding_mode: 'ceiling', fraction_digit: 0}) %}

    <ul class="carousel carousel-big" id="carousel-prizes">
        {% for i in 0..nbSlides - 1 %}
            <li class="slide grid full-size">
                {% for y in 0..5 %}
                    {% if (y + 6*i) < prizes|length %}
                        {% set prize = prizes[y + 6*i] %}
                        <section class="card">
                            <div class="content">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="edit-btn" href="{{ path("prize_edit", { slug: prize.slug }) }}">
                                        <img src="{{ asset('build/images/icons/edit.svg') }}">
                                    </a>
                                {% endif %}

                                <h2>{{ prize.label }}</h2>

                                <div class="container">
                                    <img class="prize-poster" src="{{ vich_uploader_asset(prize) }}" alt="">

                                    <div>
                                        <img src="{{ asset('build/images/icons/coins.svg') }}" alt="">
                                        <p>{{ prize.value }}</p>
                                    </div>

                                    <p class="stock">Stock:<br>x{{ prize.quantity }}</p>

                                    <a href="">
                                        <button class="big-btn">BUY</button>
                                    </a>
                                </div>
                            </div>
                        </section>
                    {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <nav class="slider" id="slider-prizes">
        {% for i in 0..nbSlides - 1 %}
            {% if i == 0 %}
                <div class="slider-btn current-slide"></div>
            {% else %}
                <div class="slider-btn"></div>
            {% endif %}
        {% endfor %}
    </nav>

{% else %}
    <ul class="flex full-size">
        <li>
            <section class="card small-card">
                <div class="content">
                    <h2>No results...</h2>
                    <p>🔍 Try something else!</p>
                </div>
            </section>
        </li>
    </ul>
{% endif %}

{% endblock %}