{% extends 'base.html.twig' %}

{% block title %}Prizes{% endblock %}

{% block content %}
    <div id="prizes" class="grid full-size">
        <section class="card cell-prize">
            <div class="content">
                <h2>Prizes</h2>
                    {% for prize in prizes %}
                    <div>
                        {{ prize.prizeLabel }}
                        <img src="{{ prize.picture }}" alt="Image aléatoire">
                        {{ prize.value }}
                        {{ prize.quantity }}
                    </div>
            
                    {% else %}
                            <tr>
                                <td colspan="8">no records found</td>
                            </tr>
                    {% endfor %}  
            </div>     
    </div>
</section>
</div>
                {# <td>
                    <a href="{{ path('prize_show', {'slug': prize.slug}) }}">show</a>
                    <a href="{{ path('prize_edit', {'slug': prize.slug}) }}">edit</a>
                </td> #}
      
        </tbody>
    </table>

    {# <a href="{{ path('prize_new') }}">Create new</a> #}
{% endblock %}
