{% extends 'base.html.twig' %}

{% block title %}Prizes{% endblock %}

{% block content %}
<div class="card card-balance">
    <h2>Balance</h2>
    <div class="token-balance-value">
        <img src="{{ asset('build/images/icons/money-coin-token-icon.png') }}">
        <p class="token-value">30</p>
    </div>
</div>
    <ul id="carousel">
        {% for i in 0..(prizes|length /6)| format_number({ rounding_mode: 'floor' , fraction_digit: 0 }) %}
        <li class="prizes grid full-size">
            {% for y in 0..5 %}
                {% if prizes[y+(6*i)] is defined %}
                    <section class="card">
                        <div class="content">
                            <h2>{{ prizes[y+(6*i)].prizeLabel }}</h2>
                            <img src="{{ prizes[y+(6*i)].picture }}" alt="Image aléatoire">
                            <div class="price">
                                <img src="{{ asset('build/images/icons/money-coin-token-icon.png') }}">
                                <p>{{ prizes[y+(6*i)].value }}</p>
                            </div>
                            <a href="" class="buy-button">BUY</a>
                        </div>
                    </section>
                {% endif %}
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    <nav id="slider">
        {% for i in 0..(prizes|length /6)| format_number({ rounding_mode: 'floor' , fraction_digit: 0 }) %}
            {% if i==0 %}
                <div class="slider-btn current-slide"></div>
            {% else %}
                <div class="slider-btn"></div>
            {% endif %}
        {% endfor %}
    </nav>
{% endblock %}
