{% extends 'base.html.twig' %}

{% block content %}

<div id="dashboard" class="grid">

    <section class="card full-size cell-played-admin">
        <div class="content">

            <h2>ADMIN : {{ last_username }}</h2>

            <div class="nav-admin">
                <a class="btn-admin" href="{{ path('game_new') }}">
                    New Game
                    <img class="icon" src="{{ asset('build/images/icons/add.svg') }}" alt="Add new game icon">
                </a>
                <a class="btn-admin" href="{{ path('prize_new') }}">
                    New Prize
                    <img class="icon" src="{{ asset('build/images/icons/add.svg') }}" alt="Add new game icon">
                </a>
                <a class="btn-admin" href="{{ path('prize_index') }}">
                    Prizes' List
                    <img class="icon" src="{{ asset('build/images/icons/eye.png') }}" alt="Eye icon">
                </a>
                <a class="btn-admin" href="{{ path('event_index') }}">
                    Events List
                    <img class="icon" src="{{ asset('build/images/icons/eye.png') }}" alt="Eye icon">
                </a>
                <a class="btn-admin" href="{{ path('event_new') }}">
                    New Event
                    <img class="icon" src="{{ asset('build/images/icons/add.svg') }}" alt="Add new game icon">
                </a>
            </div>
        </div>
    </section> 
</div>

{% endblock %}
