{% extends 'base.html.twig' %}

{% block title %}• Admin Dashboard{% endblock %}

{% block content %}

<div id="dashboard" class="grid">

    <section class="card cell-played-admin">
        <div class="content">
            {% if is_granted('ROLE_ADMIN') %}
            {% if app.user %}

                <div class="container-logout">
                    <h2>Logged as: {{ last_username }}</h2>
                    <a href="{{ path('logout') }}">Logout</a>
                </div>

            {% endif %}

                <div class="nav-admin">
                        <a href="{{ path('new_game') }}"><h1>New Game</h1><img class="icon" src="{{ asset('build/images/icons/add-new-game.png') }}" alt="Add new game icon"></a>
            
                        <a href="{{ path('new_game') }}"><h1>New Prize</h1><img class="icon" src="{{ asset('build/images/icons/add-new-game.png') }}" alt="Add new game icon"></a>
            
                        <a href="{{ path('new_game') }}"><h1>Prize's List</h1><img class="icon" src="{{ asset('build/images/icons/eye.png') }}" alt="Eye icon"></a>
                </div>

            {% endif %}

    </section>
</div>

{% endblock %}
