{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} • {{ pageTitle }}{% endblock %}

{% block content %}

<div id="scores-page" class="grid">

    <section class="card cell-my-scores">
        <div class="content">
            <h2>My scores</h2>
    
            {% if is_granted('ROLE_USER') %}
                <div class="text">
                    <a href="">{{ user.username }}</a>
                </div>
    
                <table>
                    <tbody>
                        {% for gamePlayed in gamesPlayed %}
                            <tr>
                                {# <ul style="display: flex; justify-content: space-between; max-width: 500px; margin: 0 auto"> #}
                                <td>
                                    <a href="{{ path('game_show', {slug: gamePlayed.game.slug}) }}">
                                        <img style="height: 50px" src="{{ gamePlayed.game.poster }}" alt="{{ gamePlayed.game.title }} image">
                                        {{ gamePlayed.game.title }}
                                    </a>
                                </td>
                                <td>{{ gamePlayed.score }}</td>
                                {# <td>{{ gamePlayed.duration }}</td> #}
                                {# <td>{{ gamePlayed.date|date('Y m d') }}</td> #}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </section>

    <section class="card cell-my-best">
        <div class="content">
            <h2>My best</h2>

            <table>
                <tbody>
                    {% for i in 0..10 %}
                        <tr>
                            <td>{{i+1}}.</td>
                            <td><a href="">Jackos</a></td>
                            <td>14539</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <section class="card cell-my-friends">
        <div class="content">
            <h2>My friends</h2>

            <table>
                <tbody>
                    {% for i in 0..10 %}
                        <tr>
                            <td>{{i+1}}.</td>
                            <td><a href="">Jackos</a></td>
                            <td>14539</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>


{% endblock %}
